.card {
  margin: 150px;
  width: 250px;
  transform: translateY(-50%);
}

.card:hover .cover {
  transform: perspective(500px) rotateX(35deg);
  box-shadow: 0 35px 35px -8px rgba(0, 0, 0, 0.75);
}

.card:hover .hero {
  opacity: 1;
  transform: perspective(500px) translate3d(0, -25px, 90px);
}

.card img {
  position: absolute;
  transition: 0.6s;
  width: 100%;
}

.card .hero {
  z-index: 2;
  top: 60px;
  left: 20px;
  opacity: 0;
}
